In [6]:
import pandas as pd
import numpy as np

In [20]:
lst=[1,2,3,4,5]
list=np.array(lst)
dict={'Rohini':'28',"Bhushan":'31'}

In [26]:
#pd.Series(list)
#pd.Series(lst)
a=pd.Series(dict)

In [31]:
df=a.to_frame().reset_index()
df

     index   0
0   Rohini  28
1  Bhushan  31

In [37]:
Sample_data= {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
df=pd.DataFrame(Sample_data)
type(df)

pandas.core.frame.DataFrame

In [41]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df=pd.DataFrame(exam_data,index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [51]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)
print(df[['name','score']])
df.

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [2]:
my_string=input("Enter the string")
words=[word.capitalize() for word in my_string.split()]
print(words)
words.sort()
print("Below are Sorted words")
for word in words:
    print(word)

Enter the stringrohini bhushan bramhi indraja narendra
['Rohini', 'Bhushan', 'Bramhi', 'Indraja', 'Narendra']
Below are Sorted words
Bhushan
Bramhi
Indraja
Narendra
Rohini

In [9]:
vowels='a e i o u'
my_str=input(" enter the string ")
no_vowels=" "
for i in my_str:
    if i not in vowels:
        no_vowels=no_vowels+i

print(no_vowels)

 enter the string rohini
 rhn

In [13]:
my_list=[100,2,887,87,23]
minimum=my_list[0]
for i in my_list:
    if i<minimum:
        minimum=i
print(minimum)

2

In [15]:
my_list=[23,4,56,998,1209]
minimum=my_list[0]
for i in my_list:
    if i>minimum:
        minimum=i
print(minimum)

1209

In [24]:
import json
with open('sample.json') as f:
    a=json.load(f)
    print(a)

[{'name': 'Alice', 'city': {'name': 'New York', 'population': 8550000}, 'age': 30}, {'name': 'Bob', 'city': {'name': 'San Francisco', 'population': 883000}, 'age': 25}, {'name': 'Charlie', 'city': {'name': 'Los Angeles', 'population': 3990000}, 'age': 22}]

In [17]:
import pandas as pd
with open('sample.json')as f:
    data=json.load(f)
    print(data)

[{'name': 'Alice', 'city': {'name': 'New York', 'population': 8550000}, 'age': 30}, {'name': 'Bob', 'city': {'name': 'San Francisco', 'population': 883000}, 'age': 25}, {'name': 'Charlie', 'city': {'name': 'Los Angeles', 'population': 3990000}, 'age': 22}]

In [26]:
import pandas as pd

df=pd.read_json('sample.json')
print(df)
df.to_csv('new1.csv')

      name                                             city  age
0    Alice      {'name': 'New York', 'population': 8550000}   30
1      Bob  {'name': 'San Francisco', 'population': 883000}   25
2  Charlie   {'name': 'Los Angeles', 'population': 3990000}   22

In [10]:
stg='Bhushan'
r_stg=" "
for i in stg:
    r_stg=i+r_stg
print(r_stg)

nahsuhB

In [11]:
def reverse(x):
    r_stg=" "
    for i in x:
        r_stg=i+r_stg
    return r_stg
reverse('Rohini')

'inihoR '

In [22]:
a='Rohini'
r_stg=" "
i=len(a)-1
while i>0:
    r_stg=r_stg+a[i]
    
    i=i-1
print(r_stg)

 iniho

In [8]:
text = 'Narendra'
reversed_string = ''
i = len(text)-1

while i > 0:
    reversed_string += text[i

    i -= 1

print(reversed_string)

a
r
d
n
e
r
a
ardnera

In [3]:
name="Narendra"
stg=" "
for i in name:
    stg=i+stg
print(stg)

N
aN
raN
eraN
neraN
dneraN
rdneraN
ardneraN
ardneraN